# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with Lit
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Project specific
nlcli
.nlcli/
config.json

# IDEs
.idea/
.vscode/

# OS files
Thumbs.db
Desktop.ini
.DS_Store
